<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Convert Your Images To Base 64 String</title>
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body>
    <div class="container">
      <h1>Base 64 Image Encoder !</h1>
      <form action="/result" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="photo" class="imageUpload" />
        <br /><br />
        <input type="submit" value="upload" class="submitButton" />
      </form>
    </div>
    <p>Made by <a href="https://github.com/osadavc">Osada</a> With ❤️</p>
  </body>
</html>
